// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #C15E33;
$green: #1EDD88;
$gray: #8E989A;
$light-gray: #F1EDE4;
$lgreen: #79A491;
$laci: #2B4250;
$darkgrey: #434A4C;
