.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  width: 100vw;
  margin-bottom: 10px;
  height: 350px;
  background-position-y: -20px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/lilium/image/upload/c_fill,g_auto,h_500,q_100,w_970/b_rgb:000000,e_gradient_fade:0,q_100,y_-0.5/v1614528172/bannervintage.jpg');
}

.banner h1 {
  color: #7A2F00;
  font-family: 'Helvetica';
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  background: #7A2F00;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 8px;
  opacity: 0.8;
  &:hover {
    text-decoration: none;
    transition-duration: 0.7s;
    opacity: 1;
  }
}
