.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  width: 100vw;
  margin-bottom: 10px;
  height: 20px;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.pinimg.com/564x/8a/30/24/8a30240bcafa4e9299edf3480cf055f7.jpg');
}

.banner h1 {
  color: #EBEBEB;
  font-family: 'Helvetica';
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: #EBEBEB;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  background: #EBEBEB;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 8px;
  opacity: 0.8;
  &:hover {
    text-decoration: none;
    transition-duration: 0.7s;
    opacity: 1;
  }
}
