// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #2B4250;
}
.text {
}
.home {
  color: #7A2F00;
  margin: 10px;
  opacity: 0.8;
  &:hover {
    color: #688D78;
    transition-duration: 0.7s;
  }
}
.home-s {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #7A2F00;
  margin: 10px;
  opacity: 0.8;
  &:hover {
    color: #688D78;
    transition-duration: 0.7s;
  }
}
.delete {
  color: #7A2F00;
    &:hover {
    color: #688D78;
    transition-duration: 0.7s;
  }
}
th {
  padding: 10px;
}
td {
  padding: 10px;
}
.text {
  color: #B4B0BF;
}
.new-form {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
}

