// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #D0DCD5;
}
.home {
  color: #688D78;
  margin: 10px;
  opacity: 0.8;
  &:hover {
    color: #455E4F;
    transition-duration: 0.7s;
  }
}
.home-s {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #D0DCD5;
  margin: 10px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transition-duration: 0.7s;
  }
}
.delete {
  color: #688D78;
    &:hover {
    color: #455E4F;
    transition-duration: 0.7s;
  }
}
th {
  padding: 10px;
}
td {
  padding: 10px;
}
.text {
  color: $laci;
}
.new-form {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
}
.cocktail-img {
  border-radius: 10px;
  opacity: 0.8;
}
